/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
  background: #090A11;
  background-image: url('dennis-schweizer-629713-unsplash.jpg');
  /* background-image: url('adrian-pelletier-374846-unsplash.jpg'); */
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Muli', sans-serif;
}

div {

}

h1, h2, h3, h4, h5, h6, p, label {
  color: #ADD8E6;
}

.top-bar {
  color: #090A11;
}

.small-box-border {
  border: .1rem solid #ADD8E6;
  padding: .5rem;
  margin: .5rem;
  background-color: #090A11;
}

.coordinate-boxes-left {
  padding-left: 3rem;
}

.coordinate-boxes-right{
  padding-right: 3rem;
}
