/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
  background: #090A11;
  background-image: url('https://s3.amazonaws.com/laika-app-production/dennis-schweizer-629713-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #090A11;
}

div {

}

h1, h2, h3, h4 {
  font-family: 'Orbitron', sans-serif;
  color: #ADD8E6;
}

h5, h6, p, label, a, td, th {
  font-family: 'Exo', sans-serif;
  color: #ADD8E6;
}

table thead {
  background-color: #090A11AA;
}

tbody tr:nth-child(odd) {
  background-color: #090A11AA;
}

tbody tr:nth-child(even) {
  background-color: #090A11AA;
}

/* h1, h2, h3, h4 {
  font-family: 'Orbitron', sans-serif;
  color: #090A11;
}

h5, h6, p, label, a {
  font-family: 'Exo', sans-serif;
  color: #09011A;
} */

select, input {
  font-family: 'Exo', sans-serif;
}

.top-bar {
  color: #ADD8E6;
  background-color: #090A11AA;
}

.top-bar .name h1 a {
  color: #ADD8E6;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  color: #ADD8E6;
  background-color: #090A11AA;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  color: #ADD8E6;
  background-color: #232329EE;
}


.small-box-border {
  border: .1rem solid #ADD8E6;
  padding: .5rem;
  margin: .5rem;
  background-color: #090A1188;
}

.chart-title {
  text-align: center;
}

/* .small-box-border {
  border: .1rem solid #ADD8E6;
  padding: .5rem;
  margin: .5rem;
  background-color: #ADD8E6;
} */

.fixed-box {
  position: fixed;
}

.coordinate-boxes-left {
  padding-left: 3rem;
}

.coordinate-boxes-right{
  padding-right: 3rem;
}

.mission-tile {
  margin: 2rem;
}
